
:root{
    /*===PALETA DE CORES===*/
    --corfundo: white;
    --cortexto: black;
    --corprincipal: #253C59;
    --corsecundaria: #2D4B73;
    --cordestaque: #D9B70D;

    /*===Fontes==*/
    --fontegeral: 'Courier New', Courier, monospace;
    --fontetitulos: 'Courier New', Courier, monospace;
    --fontemenu: 'Courier New', Courier, monospace;
    --fontedestaques: 'Courier New', Courier, monospace;
    --fontespecial: 'Courier New', Courier, monospace;

    /*===Largura===*/
    --maxima: 1200px;
    --minima: 240px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--fontegeral);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fontetitulos);
    color: var(--corprincipal);
}

header, main, footer{
    max-width: var(--maxima);
    min-width: var(--minima);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0px;
}

.logo{
    width: 80px;
    height: 80px;
    background-image: url('../images/logowaycursos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#capa{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg-way01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#capa h1{
    color: var(--corfundo);
}

#capa p{
    font-family: var(--fontespecial);
    color: var(--corfundo);
}

#sociais{
    width: 190px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    top: 80px;
}

.sociais{
    width: 27px;
    filter: invert(1) opacity(.6) drop-shadow(0px 0px 0px var(--corprincipal));
}

.sociais:hover{
    filter: invert(1) opacity(.7) drop-shadow(0px 0px 0px var(--cordestaque));
}

/*========== MENU ==========*/
nav{
    background-color: var(--corprincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
    margin-top: 2%;
}

nav ul li{
    background-color: var(--corprincipal);
    color: var(--corfundo);
    width: 110px;
    border:  1px solid var(--corfundo);
    height: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    position: relative;
    /*font-size: 16px;
    text-transform: uppercase;
    font-weight: bold; */
    transition: .4s;
}

nav ul li:hover{
    background-color: var(--cordestaque);
    transition: .4s;
}

nav ul ul{
    display: none;
    margin: 0px;
}

nav ul li:hover>ul{
    display: block;
    transition: .4s;
}

nav ul ul ul{
    margin-left: 110px;
    top: 15px;
    position: absolute;
}

/*========== MAIN =========*/
main{
    margin-top: 300px;
}